.global {
    --element-color: #ff0000;
    --transition: all 0.3s ease-in-out;
    --dark-color: #0a0a0a;
    --light-color: #ffffff;
}

.dark, .light, .global {
    --color: #ffffff;
    --background: #050505;
    --background-element: #111111;
    --background-transparent: rgba(10, 10, 10, 0.85);
    --shadow: rgba(255, 0, 0, 0.15);
    --svg-color: brightness(0) saturate(100%) invert(14%) sepia(93%) saturate(7483%) hue-rotate(357deg) brightness(96%) contrast(116%);
}